<header>

    <div class="logosec">
        <div class="logo">TO-DO APP
        </div>

    </div>

    <div class="message">
        <div class="circle"></div>
        <a href="/logout" class="list-group-item hidden-arrow d-flex align-items-center"><span>Logout</span></a>
    </div>


</header>



<div class="main-container">
    <div class="navcontainer">
        <nav class="nav">
            <div class="nav-upper-options">

                <div class="option2 nav-option">

                    <h3><a class="navbar-brand" href="/home">Dashboard</a></h3>
                </div>
                <div class="option2 nav-option">

                    <h3><a class="navbar-brand" href="/todo/showTask">Add Task</a></h3>
                </div>
                <div class="option2 nav-option">

                    <h3><a class="navbar-brand" href="/home">Edit Task</a></h3>
                </div>

            </div>
        </nav>
    </div>
</div>
</div>
</div>
</div>

